@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-div {
  display: flex;
  flex-direction: row;
  width: 675px;
  border: 3.175em, solid #333;
  background-color:blueviolet
}

#profile-img {
  float: left;
  height: 100%
}

#profile-img-div {
  height: 400px;
  padding: 15px;
  background-color:antiquewhite
}

#profile-content-div {
  border: 2.175em, solid #333;
  background-color: aqua;
}


