#RHOA {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/rhoa-season-14-16x9-logo.jpeg");
    background-attachment: scroll;
}

#RHOBH {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/rhobh-season12-16x9-logo.jpeg");
    background-attachment: scroll;
}

#RHONY {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/RHONY-background.jpeg");
    background-attachment: scroll;
}

#RHOOC {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/RHOC-background.jpeg");
    background-attachment: scroll;
}

#RHOSLC {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/RHOSLC.jpg");
    background-attachment: scroll;
}

#VPR {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/VPR10-baclground.jpeg");
    background-attachment: scroll;
}

#BD {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/below-deck-season-9-background.jpeg");
    background-attachment: scroll;
}

#BDM {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/BDMed-background.jpeg");
    background-attachment: scroll;
}

#SH {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/SH-background.jpeg");
    background-attachment: scroll;
}

#MDLNY {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/MDLNY.jpeg");
    background-attachment: scroll;
}

#MDLNY {text-align: center;
    align-items:center;
    background-image: url("./backgrounds/MDLLA.jpeg");
    background-attachment: scroll;
}


